:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --logo-black-color: #000000;
  --icon-color: #afb1b8;
  --accent-color: #2196f3;
  --main-letter-spacing: 0.03em;
  --item-gap: 30px;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: var(--main-letter-spacing);
}

/* ----------RESET-UTILITY---------- */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ----------COMMON---------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

/* ---------------Social--------------- */

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--icon-color);
  border-radius: 50%;
}
.social-link.dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.dark > .social-icon {
  fill: var(--primary-bg-color);
}

.social-icon:hover,
.social-icon:focus {
  fill: var(--primary-bg-color);
}
/* --------Верхня_лінія-------- */

.top-line {
  /* padding-top: 24px;
  padding-bottom: 25px; */
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--logo-black-color);
  padding-top: 24px;
  padding-bottom: 25px;

  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.accent {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
  list-style: none;
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.nav-link {
  display: block;
  padding: 32px 0;

  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.site-nav .current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;

  list-style: none;
}

.contacts-item + .contacts-item {
  margin-left: 30px;
}

.contacts-link {
  display: flex;
  padding: 32px 0;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mail {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* <!--Герой--> */

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;

  text-align: center;
  background-image: linear-gradient(to right, #2f303a66, #2f303a66), url(../images/business.jpg);
  background-color: #c4c4c4;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-titel {
  max-width: 696px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-bg-color);
}

.hero-button {
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--primary-bg-color);
  background-color: var(--accent-color);

  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* <!--Особливості--> */

.feature-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.feature-item {
  flex-basis: calc((100% - 3 * var(--item-gap)) / 4);
}

.feature-wrapper {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--item-gap);
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
}

.feature-issue {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* 
.feature-issue::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  background-repeat: no-repeat;
  background-position: center;
}

.antenna::before {
  background-image: url(../images/svg/feature-antenna.svg);
}
.clock::before {
  background-image: url(../images/svg/feature-clock.svg);
}
.diagram::before {
  background-image: url(../images/svg/feature-diagram.svg);
}
.astronaut::before {
  background-image: url(../images/svg/feature-astronaut.svg);
}
*/

/*  <!--Чим ми займаємося--> */

.box.section {
  padding-top: 0;
}

.box-titel {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.box-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.box-item {
  flex-basis: calc(((100% - 2 * var(--item-gap))) / 3);
  max-width: 100%;
}

/* <!--Наша команда--> */

.team {
  background-color: var(--secondary-bg-color);
  text-align: center;
}

.team-titel {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.team-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.team-item {
  flex-basis: calc((100% - 3 * var(--item-gap)) / 4);
  max-width: 100%;

  background-color: var(--primary-bg-color);

  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-gap {
  padding: var(--item-gap);
}

.team-members {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-positions {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  color: var(--secondary-text-color);
}

/* <!-- Постійні клієнти --> */

.client-titel {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.client-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  color: var(--icon-color);
  border-radius: 4px;
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* <!-- Портфоліо --> */

.filter-list,
.portfolio-list {
  list-style: none;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item + .filter-item {
  margin-left: 8px;
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;

  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);

  cursor: pointer;

  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  min-width: 73px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--item-gap));
  margin-left: calc(-1 * var(--item-gap));
}

.portfolio-item {
  margin-top: var(--item-gap);
  margin-left: var(--item-gap);
  flex-basis: calc(100% / 3 - var(--item-gap));
}

.portfolio-link {
  display: block;
  text-decoration: none;
}
.portfolio-link:focus,
.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-gap {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-project {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

/* -------------Підвал---------- */

.footer {
  padding: 60px 0;
  background-color: var(--footer-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}
.address-column {
  margin-right: 70px;
}

.footer .logo {
  display: block;
  padding: 0;
  margin-bottom: 20px;
  color: var(--primary-bg-color);
}

.address-list {
  display: block;
  width: 231px;
  list-style: none;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.map,
.tel-mail {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.map:hover,
.map:focus,
.tel-mail:hover,
.tel-mail:focus {
  color: var(--accent-color);
}

.map {
  color: var(--primary-bg-color);
}

.tel-mail {
  color: var(--footer-contacts-color);
}

.join-titel {
  margin-bottom: 20px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-bg-color);
}
