:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --logo-black-color: #000000;
  --accent-color: #2196f3;
  --main-font: 'Roboto', sans-serif;
  --main-letter-spacing: 0.03em;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  letter-spacing: var(--main-letter-spacing);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
ul {
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;

  outline: 2px dashed orange;
}

.section {
  padding: 94px 0;
}

.no-gap {
  display: block;
}

/* --------Верхня_лінія-------- */
.logo {
  color: var(--logo-black-color);
  text-decoration: none;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.accent {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}

.site-nav,
.contacts {
  list-style: none;
}

.nav-item:hover,
.nav-item:focus,
.contacts-item:hover,
.contacts-item:focus {
  color: var(--accent-color);
}

.nav-item {
  text-decoration: none;
  list-style: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.contacts-item {
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

/* <!--Герой--> */
.hero {
  background-color: var(--footer-color);
  text-align: center;
}

.hero-titel {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-bg-color);

  margin-bottom: 30px;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--primary-bg-color);
  background-color: var(--accent-color);

  cursor: pointer;

  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* <!--Особливості--> */
.feature-list {
  list-style: none;
}

.feature-main {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  margin-bottom: 10px;
}

.feature-description {
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);
}

/*  <!--Чим ми займаємося--> */
.box.section {
  padding-top: 0;
}

.box-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.box-list {
  list-style: none;
}

/* <!--Наша команда--> */
.team {
  background-color: var(--secondary-bg-color);
  text-align: center;
}

.team-titel {
  font-size: 36px;
  line-height: 1.17;

  margin-bottom: 50px;
}

.team-list {
  list-style: none;
}

.team-item {
  background-color: var(--primary-bg-color);
}

.team-members {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-top: 30px;
}

.team-positions {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  color: var(--secondary-text-color);

  margin-top: 10px;
}

/* <!-- Портфоліо --> */
.filter-list,
.portfolio-list {
  list-style: none;
}

.filter-list {
  margin-bottom: 50px;
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;

  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);

  cursor: pointer;

  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  min-width: 73px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

.portfolio-ref {
  text-decoration: none;
}

.portfolio-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);

  margin-top: 20px;
}
.portfolio-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);

  margin-top: 4px;
}

/* -------------Підвал---------- */
.footer {
  background-color: var(--footer-color);
}

.footer .logo {
  color: var(--primary-bg-color);
}

.address {
  list-style: none;
  margin-top: 20px;
}

.map,
.tel-mail {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.map:hover,
.map:focus,
.tel-mail:hover,
.tel-mail:focus {
  color: var(--accent-color);
}

.map {
  color: var(--primary-bg-color);
}

.tel-mail {
  color: var(--footer-contacts-color);
}

/* -primary-text-color: #212121;
   -primary-bg-color: #ffffff;
   -main-letter-spacing: 0.03em;

  --secondary-text-color: #757575;
  --secondary-bg-color: #f5f4fa;
  --footer-color: #2f303a;
  --accent-color: #2196f3; */
