.footer {
  padding: 60px 0;
  background-color: $footer-color;

  &__container {
    display: flex;
    align-items: baseline;
  }
}

.address {
  margin-right: 70px;

  &__list {
    display: block;
    width: 231px;
    margin-top: 20px;

    list-style: none;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $footer-contacts-color;
    transition: color 250ms $timing-futction;

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &--map {
      color: $primary-bg-color;
    }
  }
}

%issue {
  margin-bottom: 20px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  color: $primary-bg-color;
}

.join {
  margin-right: 93px;

  &__issue {
    @extend %issue;
  }
}

.subscription {
  &__issue {
    @extend %issue;
  }

  &__form {
    display: flex;
  }

  &_input {
    margin-right: 12px;
    padding: 14px 16px;
    min-width: 358px;

    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms $timing-futction;

    &:focus {
      border-color: $accent-color;
      color: $primary-bg-color;
    }
  }
}
